*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  display: flex;
  justify-content: center;
}
main{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  background-color: grey;
}
.upper{
  background-color: black;
  width: 100%;
  color: aliceblue;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  > div{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  > div > input{
    padding: 5px;
    font-style: 1rem;
    background-color: aliceblue;
    color: black;
    text-align: center;
  }
  > div > button{
    padding: 0px 10px;
    border-radius: 5px;
    background-color: green;
    font-weight: 900;
    font-size: 1.2rem;
  }
}
.upper p{
  opacity: 0;
}
.down{
  background-color: black;
  margin-top: 1rem;
  color: white;
  padding: 5px;
}
.down .task{
  margin: 10px;
  column-gap: 10px;
}
.down .task li{
  list-style-position: inside;
  padding: 10px 5px;
  position: relative;
  background-color: bisque;
  color: black;
  border-radius: 10px;
  margin: 5px;
}
.down .task li > button{
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0px;
    font-weight: 900;
    padding: 5px 15px;
    background-color: rgb(170, 33, 33);    
    border-radius: 20px;
}
.checked{
  color: limegreen;
}   