*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
body{
  display: flex;
  justify-content: center;
}
main{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: grey;
  color: white;
}
.upper{
  background-color: black;
  width: 80%;
  padding: 5px;
  h2{
    text-align: center;
  }
  > input{
    padding: 5px;
    font-style: 1rem;
    background-color: aliceblue;
    color: black;
    text-align: center;
  }
  > button{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: green;
  }
}